<header>
  <article class="header-article">
    <nav class="header-navigation" [ngStyle]="{'width': isShow ? '250px' : '0px'}">
      <h1>Menu</h1>
      <a routerLink="/home">Home</a>
      <a href="#">Login</a>
      <a href="#"><fa-icon class="fas fa-plus"[icon]="faPlus"></fa-icon> Post a car</a>
      <button class="header-navigation-closeBtn" (click)="isShow = false">
        &times;
      </button>
    </nav>
    <button class="header-article-menu" (click)="isShow = true">
      <fa-icon class="fas fa-bars" [icon]="fabars"></fa-icon>
    </button>
    <h1 routerLink="/home" class="header-article-logo">CARS.com</h1>
  </article>
</header>
