header {
  background: #ff6600;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-menu {
  margin-bottom: 0;
}

.header-username {
  padding: 0 15px;
  color: #00000085;
  margin-bottom: 0;
  white-space: nowrap;
}

.header-article {
  margin: 0 30px;
  display: flex;
}

a {
  text-decoration: none;
}

.header-navigation {
  position: fixed;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 0;
  background: white;
  z-index: 2;
  overflow-x: hidden;
  transition: all 0.6s ease-out;
}

.header-navigation h1 {
  padding: 12px 15px 18px;
  border-bottom: 1px solid #80808080;
  font-size: 25px;
}

.header-navigation a {
  padding: 20px 15px;
  text-decoration: none;
  font-size: 15px;
  display: block;
  color: black;
  white-space: nowrap;
}

.header-navigation a:hover {
  color: #00000090;
}

.header-navigation a:nth-child(4) {
  border-top: 1px solid #80808080;
}

.header-navigation-closeBtn {
  position: absolute;
  top: 15px;
  right: 25px;
  font-size: 30px;
  border: none;
  background: none;
  font-size: 40px;
}

.header-navigation-closeBtn:hover {
  cursor: pointer;
  color: #00000090;
}

.fa-plus {
  font-size: 12px;
}

.header-article-menu {
  background: none;
  border: none;
  color: white;
  font-size: 20px;
  padding: 10px;
  position: relative;
  z-index: 1;
}

.header-article-menu:hover {
  cursor: pointer;
}

.header-article-menu:hover:before {
  position: absolute;
  content: "";
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #ff7214;
  top: 8px;
  left: -7px;
  z-index: -1;
}

.header-article-logo {
  color: white;
  margin-left: 10px;
}

.header-article-logo:hover {
  color: #ffe0cc;
  cursor: pointer;
}

.header-article-back {
  color: white;
}
