<header>
  <article class="header-article">
    <nav
      class="header-navigation"
      [ngStyle]="{ width: showNav ? '250px' : '0px' }"
    >
      <h1>Menu</h1>
      <a routerLink="/home" (click)="showNav = false">Home</a>
      <ng-container *ngIf="currentUser; else loginTemplate">
        <p class="header-username">Hello, {{ currentUser.name }}</p>

        <a href="javascript:void(0)" (click)="logoutHandler()"
          ><i class="fas fa-sign-out-alt"></i> Logout</a
        >

        <a routerLink="/profile" (click)="showNav = false"
          ><i class="fas fa-user"></i> Profile</a
        >
        <a href="#"><i class="fas fa-plus"></i> Post a car</a>
        <a routerLink="/mycars" (click)="showNav = false"
          ><i class="fas fa-car"></i> My Cars</a
        >
      </ng-container>

      <ng-template #loginTemplate>
        <a routerLink="/login" (click)="showNav = false"
          ><i class="fas fa-sign-in-alt"></i> Login</a
        >
      </ng-template>

      <button class="header-navigation-closeBtn" (click)="showNav = false">
        &times;
      </button>
    </nav>
    <button class="header-article-menu" (click)="showNav = true">
      <i class="fas fa-bars"></i>
    </button>
    <h1 routerLink="/home" class="header-article-logo">CARS.com</h1>
  </article>
</header>
