<header>
  <article class="header-article">
    <nav
      class="header-navigation"
      [ngStyle]="{ width: showNav ? '250px' : '0px' }"
    >
      <h1>Menu</h1>
      <ng-container *ngIf="!!currentUser">
        <a routerLink="/home" (click)="showNav = false">Home, {{ currentUser.name }}</a>

        <a href="#"
          ><fa-icon class="fas fa-user" [icon]="faUser"></fa-icon> Profile</a
        >
        <a href="#"
          ><fa-icon class="fas fa-plus" [icon]="faPlus"></fa-icon> Post a car</a
        >
        <a href="#"
          ><fa-icon class="fas fa-car" [icon]="faCar"></fa-icon> My Cars</a
        >
      </ng-container>

      <ng-container *ngIf="!currentUser">
        <a routerLink="/home" (click)="showNav = false">Home</a>

        <a routerLink="/login" (click)="showNav = false"
          ><fa-icon class="fas fa-sign-in-alt" [icon]="faSignInAlt"></fa-icon>
          Login</a
        >
      </ng-container>

      <button class="header-navigation-closeBtn" (click)="showNav = false">
        &times;
      </button>
    </nav>
    <button class="header-article-menu" (click)="showNav = true">
      <fa-icon class="fas fa-bars" [icon]="fabars"></fa-icon>
    </button>
    <h1 routerLink="/home" class="header-article-logo">CARS.com</h1>
  </article>
</header>
