.user-register-form-container {
  position: absolute;
  left: 50%;
  top: 53%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 40px 10px;
  border-radius: 10px;
  width: 350px;
}

.user-form-title {
  margin-top: 0;
  text-align: center;
}

.user-form {
  text-align: center;
}

.user-form input {
  margin-bottom: 15px;
  width: 90%;
  background: #f3f1f1;
  border: none;
  padding: 10px;
  border-radius: 10px;
}

.user-form-btn {
  width: 90%;
  padding: 10px;
  border-radius: 10px;
  border: none;
  background: #FF7214;
  color: white;
  cursor: pointer;
}

.user-form-btn-disabled {
  width: 90%;
  padding: 10px;
  border-radius: 10px;
  border: none;
  background: #fbc19a;
  color: white;
  cursor: default;
}

.error {
  text-align: left;
  border-radius: 0.3em;
  color: red;
  margin: 0px 0px 15px 20px;
  padding-top: 0;
}