<section class="car-form-container" *ngIf="!!car">
  <h2 class="car-form-title">Edit car</h2>
  <form [formGroup]="editCarForm" (ngSubmit)="submitEdit()" class="car-form">
    <div class="car-form-second-container">
      <div class="car-form-first">
        <select
          formControlName="make"
          class="car-form-make"
          name="make"
          id="make"
        >
          <option>Make</option>
          <option>Alfa Romeo</option>
          <option>Aston Martin</option>
          <option>Audi</option>
          <option>BMW</option>
          <option>Bentley</option>
          <option>Bugatti</option>
          <option>Cadillac</option>
          <option>Chevrolet</option>
          <option>Citroen</option>
          <option>Dodge</option>
          <option>Ferrari</option>
          <option>Ford</option>
          <option>Jaguar</option>
          <option>Jeep</option>
          <option>Lamborghini</option>
          <option>Land Rover</option>
          <option>Mercedes-Benz</option>
          <option>Mitsubishi</option>
          <option>Opel</option>
          <option>Porsche</option>
          <option>Rolls-Royce</option>
          <option>Suzuki</option>
          <option>Toyota</option>
        </select>

        <ng-container *ngIf="editCarForm.controls['make'].touched && editCarForm.controls['make'].invalid">
          <p *ngIf="editCarForm.controls['make'].errors?.required" class="error">
            Make is required
          </p>
        </ng-container>
        <input
          formControlName="model"
          type="text"
          name="model"
          id="model"
          placeholder="Model"
        />

        <ng-container *ngIf="editCarForm.controls['model'].touched && editCarForm.controls['model'].invalid">
          <p *ngIf="editCarForm.controls['model'].errors?.required" class="error">
            Model is required
          </p>
        </ng-container>

        <input
          type="file"
          formControlName="image"
          id="image-file"
          placeholder="Image"
          (change)="uploadImage($event)"
        />

        <ng-container *ngIf="editCarForm.controls['image'].touched && editCarForm.controls['image'].invalid">
          <p *ngIf="editCarForm.controls['image'].errors?.required" class="error">
            Image is required
          </p>
        </ng-container>
        <input
          formControlName="price"
          type="number"
          name="price"
          id="price"
          placeholder="Price"
        />
        
        <ng-container *ngIf="editCarForm.controls['price'].touched && editCarForm.controls['price'].invalid">
          <p *ngIf="editCarForm.controls['price'].errors?.required" class="error">
            Price is required
          </p>
        </ng-container>
      </div>
      <div class="car-form-two">
        <select
          class="car-form-make"
          name="fuel"
          id="fuel"
          formControlName="fuel"
        >
          <option>Fuel</option>
          <option>Petrol</option>
          <option>Diesel</option>
          <option>Electric</option>
          <option>Hybrid</option>
        </select>

        <ng-container *ngIf="editCarForm.controls['fuel'].touched && editCarForm.controls['fuel'].invalid">
          <p *ngIf="editCarForm.controls['fuel'].errors?.required" class="error">
            Fuel is required
          </p>
        </ng-container>
        <input
          formControlName="color"
          type="text"
          name="color"
          id="color"
          placeholder="Color"
        />

        <ng-container *ngIf="editCarForm.controls['color'].touched && editCarForm.controls['color'].invalid">
          <p *ngIf="editCarForm.controls['color'].errors?.required" class="error">
            Color is required
          </p>
        </ng-container>
        <input
          formControlName="power"
          type="number"
          name="power"
          id="power"
          placeholder="Power"
        />

        <ng-container *ngIf="editCarForm.controls['power'].touched && editCarForm.controls['power'].invalid">
          <p *ngIf="editCarForm.controls['power'].errors?.required" class="error">
            Power is required
          </p>
        </ng-container>
        <input
          formControlName="year"
          type="number"
          name="year"
          id="year"
          placeholder="Year"
        />

        <ng-container *ngIf="editCarForm.controls['year'].touched && editCarForm.controls['year'].invalid">
          <p *ngIf="editCarForm.controls['year'].errors?.required" class="error">
            Year is required
          </p>
        </ng-container>
      </div>
    </div>

    <article class="car-form-description">
      <textarea
        formControlName="description"
        type="number"
        name="description"
        id="description"
        placeholder="Description..."
      ></textarea>

      <ng-container *ngIf="editCarForm.controls['description'].touched && editCarForm.controls['description'].invalid">
        <p *ngIf="editCarForm.controls['description'].errors?.required" class="error-desc">
          Description is required
        </p>
        <p *ngIf="editCarForm.controls['description'].errors?.minlength" class="error-desc">
          Description must be more than 10 characters!
        </p>
      </ng-container>
    </article>
    <button [ngClass]="editCarForm.invalid ? 'car-form-btn-disabled' : 'car-form-btn'"
    [disabled]="editCarForm.invalid" >Update</button>
  </form>
</section>

<app-loader *ngIf="loader"></app-loader>
